---
import Layout from "@/layouts/Layout.astro";
import "@/styles/global.css";
import { Text } from "@/components/ui/text";
import { ClientRouter } from "astro:transitions";
import { calculateYearsSinceStarted } from "@/utils/calculateSince";
---

<ClientRouter />

<Layout>
  <div
    id="about-wrapper"
    class="flex items-center justify-around ml-21 mr-21 mb-45"
  >
    <div id="about-text-table" class="max-w-4xl">
      <Text as="h3" className="text-4xl font-bold">About me</Text>
      <Text className="text-2xl font-thin mt-5">
        My name is Andreo and I currently work as a Open Source Consultant at
        <a
          href="https://inuits.eu"
          target="_blank"
          class="underline underline-offset-6">Inuits</a
        >. I kicked off my open source journey around {
          calculateYearsSinceStarted(1675238400000)
        } years ago, and it's been a ride of constant growth and learning since.
      </Text>
      <Text className="text-2xl font-thin mt-5" />
      <Text className="text-2xl font-thin mt-5"
        >Another passion of mine is electronic music. I can really lose myself
        looking for fresh new gems. I am currently working on adding a
        background radio, so i can share my findings through this portfolio.
      </Text>
    </div>
  </div>
</Layout>
