---
import { Button } from "../ui/button";
---

<nav
  class="flex flex-col items-center md:flex-row md:justify-center mb-12 md:mb-12"
>
  <a href="/" class="p-2 md:p-4">
    <Button
      size="lg"
      className="font-extrabold rounded-xs cursor-pointer min-w-3xs md:min-w-35"
    >
      Home
    </Button>
  </a>
  <a href="/about" class="p-2 md:p-4">
    <Button
      size="lg"
      className="font-extrabold rounded-xs cursor-pointer min-w-3xs md:min-w-35"
    >
      About me
    </Button>
  </a>
  <a href="/projects" class="p-2 md:p-4">
    <Button
      size="lg"
      className="font-extrabold rounded-xs cursor-pointer min-w-3xs md:min-w-35"
    >
      Projects
    </Button>
  </a>
</nav>
