---
import { Button } from "../ui/button";
---

<nav class="flex justify-center p-8 m-10">
  <a href="/" class="m-4 w-auto">
    <Button className="btn-custom font-extrabold rounded-xs"> Home </Button>
  </a>
  <a href="about" class="m-4 w-auto">
    <Button className="btn-custom font-extrabold rounded-xs"> About me </Button>
  </a>
  <a href="contact" class="m-4 w-auto">
    <Button className="btn-custom font-extrabold rounded-xs">
      Get in touch
    </Button>
  </a>
</nav>
