---
import Layout from '../layouts/Layout.astro';
import '@/styles/global.css';
import { Button } from "../components/ui/button";
import { Text } from "../components/ui/text";
import { ClientRouter } from 'astro:transitions';
import Navbar from "../components/ui/navbar.astro"
import { calculateYearsSinceStarted } from "../utils/calculate-since"
import  ImageCard  from '../components/ui/image-card';
---

<Layout>
    <ClientRouter />
	<Navbar />
	<div id="about-wrapper" class="max-w-2xl m-30">
	<Text as="h3" className="text-4xl font-bold">About me</Text>
	<Text className="text-2xl font-thin mt-5">
		My name is Andreo and i currently work as a open source consultant at <span class="underline underline-offset-5">Inuits</span>
    </Text>
    <Text className="text-2xl font-thin mt-5">
            I started my journey about {calculateYearsSinceStarted(1675238400000)} years ago. I love technology. I love tinkering around with it. Making electronic music, or writing code, I'm always up for it!
    </Text>
</div>
<div class="flex-column">
    <ImageCard caption=''
    imageUrl="https://hips.hearstapps.com/hmg-prod/images/flowers-trees-and-bushes-reach-their-peak-of-full-bloom-in-news-photo-1678292967.jpg?resize=300:*">
</ImageCard>
</div>

</Layout>
