---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
import { Text } from "../components/ui/text";
import { ClientRouter } from "astro:transitions";
import ContactForm from "@/components/custom/contact-form";
---

<Layout>
  <ClientRouter />
  <div id="music-zone-wrapper" class="max-w-2xl m-30">
    <Text as="h3" className="text-4xl font-bold mb-5">Send me a message</Text>
    <ContactForm />
  </div>
</Layout>
