---
import Layout from "../layouts/Layout.astro";
import "@/styles/global.css";
import { Text } from "../components/ui/text";
import { ClientRouter } from "astro:transitions";
import { MarqueeDemo } from "@/components/custom/tech-marquee";
---

<Layout>
  <ClientRouter client:load />
  <div
    id="sections-wrapper"
    class="flex items-center justify-around ml-21 mr-21"
  >
    <section id="introduction-section">
      <Text className="text-xl font-thin ml-1">Hi there! My name is</Text>
      <Text as="h1" className="text-4xl font-bold mt-5"
        >Andreo Van Onckelen</Text
      >
      <Text
        as="h2"
        className="text-2xl font-bold mt-5 underline underline-offset-13"
        >Full Stack Developer</Text
      >
      <Text className="text-xl font-thin mt-8">Welcome to my portfolio</Text>
    </section>

    <section id="marquee-wrapper" class="flex items-center max-w-2xl ml-21">
      <MarqueeDemo client:load />
    </section>
  </div>
</Layout>
