---
import Layout from "../layouts/Layout.astro";
import { Text } from "../components/ui/text";
import ImageCard from "@/components/ui/image-card";
---

<Layout>
  <section
    id="introduction-section"
    class="grid grid-cols-1 lg:grid-cols-2 items-center gap-4 lg:gap-8 px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16"
  >
    <div id="introduction-text" class="text-center md:text-left">
      <Text className="text-xl font-thin">Hi there! My name is</Text>
      <Text as="h1" className="text-4xl font-bold mt-3"
        >Andreo Van Onckelen</Text
      >
      <Text
        as="h2"
        className="text-2xl font-bold pt-3 border-b-4 border-main inline-block"
        >Full Stack Developer</Text
      >
      <Text className="text-xl font-thin pt-4 mb-8"
        >Welcome to my portfolio</Text
      >
    </div>
    <div class="flex justify-center md:justify-end">
      <ImageCard
        className="w-40 sm:w-56 md:w-64 lg:w-72 xl:w-80"
        imageUrl="/images/face-pic.jpg"
      />
    </div>
  </section>
</Layout>
