---
import Layout from '../layouts/Layout.astro';
import '@/styles/global.css';
import { Text } from "../components/ui/text";
import { ClientRouter } from 'astro:transitions';
import Navbar from "../components/ui/navbar.astro"

const images = {
  Astro: "/public/images/astro-icon-dark.svg",
  Ember: "public/images/e-rounded-icon-4c.svg",
  Javascript: "public/images/logo-javascript.svg",
  Python: "public/images/python-5.svg"
};
---

<Layout>
	<ClientRouter />
	<Navbar />

	<section id="introduction-section" class="max-w-2xl m-30">
	<Text as="h1" className="text-4xl font-bold">Andreo Van Onckelen</Text>
	<Text as="h2" className="text-2xl font-bold mt-5 underline underline-offset-13">Full Stack Developer</Text>
	<Text className="text-xl font-thin mt-8">
		You've made it to my profile
	</Text>
	<Text className="text-xl font-thin">Welcome to basedworld</Text>
</section>

<div id="marquee-wrapper" class="flex items-center max-w-2xl m-30">
	{Object.entries(images).map(([key, value]) => (
		<div class="flex items-center space-x-3" key={key}>
			<img src={value} alt={key} class="h-10 w-10" />
			<Text className="text-lg mr-5">{key}</Text>
		</div>
	))}
</div>
<a href="https://github.com/andreo141" target="_blank">
	<img src="/public/images/github-mark.svg" width="44" alt="">
</a>
</Layout>
