---
import Layout from "../../layouts/Layout.astro";
import { Text } from "../../components/ui/text";
---

<Layout>
  <div class="flex items-center justify-center">
    <Text as="h2" className="text-4xl font-bold ">Work in progress...</Text>
  </div>
</Layout>
