---
import Layout from "../../layouts/Layout.astro";
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";
import { Text } from "../../components/ui/text";
---

<Layout>
  <ClientRouter client:load />
  <div class="flex items-center justify-center">
    <Text as="h2" className="text-4xl font-bold ">Work in progress...</Text>
  </div>
</Layout>
