---
import Navbar from "@/components/custom/navbar.astro";
import { Button } from "@/components/ui/button";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="generator" content={Astro.generator} />
    <title>Andreo Van Onckelen</title>
    <ClientRouter />
  </head>
  <body>
    <header class="m-13">
      <ul class="flex justify-end gap-3">
        <li>
          <a href="https://github.com/andreo141" target="_blank">
            <Button
              className="rounded-xs p-2 md:p-3 flex items-center justify-center w-10 h-10 md:w-12 md:h-12"
              ><img
                class="w-6 h-6 md:w-8 md:h-8"
                src="/images/github.svg"
                alt="GitHub icon"
              /></Button
            >
          </a>
        </li>
        <li>
          <a href="https://linkedin.com/in/andreovanonckelen" target="_blank">
            <Button
              className="rounded-xs p-2 md:p-3 flex items-center justify-center w-10 h-10 md:w-12 md:h-12"
              ><img
                class="w-6 h-6 md:w-8 md:h-8"
                src="/images/linkedin.svg"
                alt="LinkedIn icon"
              /></Button
            >
          </a>
        </li>
        <li>
          <a href="https://soundcloud.com/orellanasounds" target="_blank">
            <Button
              className="rounded-xs p-2 md:p-3 flex items-center justify-center w-10 h-10 md:w-12 md:h-12"
              ><img
                class="w-6 h-6 md:w-8 md:h-8"
                src="/images/soundcloud.svg"
                alt="Soundcloud icon"
              /></Button
            >
          </a>
        </li>
      </ul>
    </header>
    <Navbar />
    <slot />
  </body><style>
    html,
    body {
      background-color: var(--bg);
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='100%' height='100%'><defs><pattern id='grid' patternUnits='userSpaceOnUse' width='5' height='5'><circle cx='2' cy='2' r='0.1' fill='black'/></pattern></defs><rect width='100%' height='100%' fill='url(%23grid)' /></svg>");
      background-repeat: repeat;
      background-size: 100px 100px; /* Adjust grid size */
    }
  </style>
</html>
