---
import { Button } from "./button";
---
<nav class="flex justify-center p-8 m-10">
    <a href="/" class="m-4 w-auto">
        <Button className="bg-violet-500 hover:bg-violet-600 focus:outline-2 focus:outline-offset-2 focus:outline-violet-500 active:bg-violet-700">
            Home
        </Button>
    </a>
    <a href="about" class="m-4 w-auto">
        <Button className="bg-violet-500 hover:bg-violet-600 focus:outline-2 focus:outline-offset-2 focus:outline-violet-500 active:bg-violet-700">
            About me
        </Button>
    </a>
    <a href="music" class="m-4 w-auto">
        <Button className="bg-violet-500 hover:bg-violet-600 focus:outline-2 focus:outline-offset-2 focus:outline-violet-500 active:bg-violet-700">
            Music zone
        </Button>
    </a>
</nav>
